.details-div > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details-img-div {
  width: 80vw;
}

.edit-main-img {
  height: 44vh;
  margin: 6vh 0 2vh 0;
}

.details-view-info {
    display: flex;
    width: 80vw;
    justify-content: space-around;
    align-items: center;
}

.details-view-info div {
  display: flex;
  align-items: center;
}

.details-view-info div img {
  height: 3vh;
  margin-right: 2vw;
  margin-bottom: 3px;
}

.details-title-wrapper{
  display: flex;
  align-items: center;
  margin-bottom: 16px
}
.details-title-wrapper span{
margin-left: 2vw;
}
.details-title-wrapper span img{
  height: 3vh
  }

.details-div .details-title {
  margin-bottom: 0px;
  font-size: 2em;
}


.details-description {
  position: relative;
  margin-bottom: 4.5vh;
  min-width: 70vw;
  max-width: 83vw;
  text-align: left;
}

.details-div p:nth-of-type(3) {
  max-width: 50vw;
  overflow-wrap: break-word;
  text-align: center;
}

.detail-creator-info-div {
  width: 100vw;
  padding: 3vh 14vw 1vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.detail-creator-info-div p {
  margin-bottom: 0;
}

.detail-creator-info-div img {
  height: 5vh;
}

.details-tags-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  padding: 0 3vw
}
.details-tags-wrapper a, .details-tags-wrapper a:hover, .details-tags-wrapper a:active, .details-tags-wrapper a:visited {
  text-decoration: none;
  color: black;
}

.details-game {
  background-color: greenyellow;
  white-space: nowrap;
  padding: 2px 8px;
  border-radius: 5px;
  margin: 0px 9px;
  font-size: 0.8em;
}

.details-game:hover {
  background-color: rgb(125, 124, 209);
}

.details-game a, .details-game a:active, .details-game a:hover, .details-game a:visited {
  text-decoration: none;
  color: black
}

.details-div .creation-date {
  width: 100vw;
  display: flex;
  align-items: flex-start;
  padding-left: 14vw;
}
