.details-div > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details-img-div {
  width: 80vw;
}

.edit-main-img {
  height: 44vh;
  margin: 6vh 0 5vh 0;
}

.details-div p:nth-of-type(2) {
  max-width: 50vw;
  overflow-wrap: break-word;
  text-align: center;
}

.tag {
  background-color: yellow;
}

.details-view-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-view-info div {
  display: flex;
  align-items: center;
}

.details-view-info div:first-of-type {
  margin-right: 10vw;
}
.details-view-info div img {
  height: 3vh;
  margin-right: 2vw;
  margin-bottom: 3px 
}
