.profile-info > button:first-of-type {
  position: absolute;
  left: 2vh;
  top: 12vh;
}


.profile-info h1{
  margin-top: 6vh;
}


.profile-info h2{
  margin-bottom: 4vh;
}

.profile-paintings-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-painting {
  display: flex;
  flex-direction: row !important;
  justify-content: center;
  border-radius: 30px;
  overflow: hidden;
  margin: 1vh 0;
  box-shadow: 0px 0px 20px -13px rgba(92, 92, 92, 1);
}

.profile-painting img:first-of-type {
  height: 20vh;
  max-width: 20vh;
  overflow: hidden;
}

.profile-painting > div:first-of-type {
  text-align: left;
  padding: 1vh 2vw 0 3vw;
  width: 50vw;
}


.profile-painting-title {
  font-size: 1.4em;
  margin-left: 4vw;
  margin-bottom: 0
}

.profile-painting > div:first-of-type > p:first-of-type {
  height: 10vh;
  max-height: 39%;
  margin-bottom: 0;
  overflow-wrap: break-word;
  overflow-y: hidden;
  margin-bottom: .5vh;
}

.profile-painting > div:first-of-type > div button {
  padding: .4vh .7vh;
}

.profile-painting > div:first-of-type > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}