.chatform {
  height: 10vh;
  position: fixed;
  bottom: 0%;
  width: 100%;
}

.secondChatForm {
    position: absolute;
    height: 17vh;
    width: 100vw;
    bottom: 10vh;
}

.chatform input:first-of-type {
  height: 100%;
  width: 80%;
  padding:0
}

.chatform input:nth-of-type(2) {
  height: 100%;
  width: 20%;
  padding:0
}

.chat-send-btn {
    font-size: 1.2em;
}

.chat-clip {
    position: absolute;
    bottom: 3.3vh;
    right: 21vw;
    background: white;
    padding: 0 6vw 0 2vw;
}
