.add-painting-form h1 {
    margin: 7vh 0 3vh
}

.add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-input {
  margin: 2vh 0;
  height: 5vh
}

.hidden {
    display: none;
}

.error-message {
    
}