.add-painting-form h1 {
    margin: 10vh 0 5vh
}

.add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh
}

.add-input {
  margin: 2vh 0;
}

.hidden {
    display: none;
}

.error-message {
    
}