.navbar {
  background-color: rgb(255, 255, 123);
  padding: 0 !important; /* !!! */
  position: sticky !important;
  z-index: 100;
  top: 0vh
}

.navbar h1 {
margin-bottom: 0;}

.navbar ul {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: space-around;
  height: 10vh;
  margin-bottom: 0;
}

.navbar li {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  vertical-align: middle;
}

.navbar button {
  height: 100%;
}

.navbar a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.4em;
}
.vertical-hr {
  border-right: 1px solid grey;
}

.navbar img {
  border-radius: 50%;
  height: 6vh;
  width: 6vh;
  text-align: center;
}
