.login {
    height: 100vh;
}

.login h1 {
    margin-top: 20vh;
    font-size: 4em;
}

.login form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login input {
    margin: 2vh;
    width: 70vw;
    height: 7vh;
    border: 1px solid #e6e6e6;
}