.App {
  text-align: center;
  color: white;
}

select {
  overflow: auto
}

.add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh
}

.add-input {
  margin: 2vh 0
}