.login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-background {
    position: absolute;
    z-index: -2;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 123);
}

.auth-background {
    position: absolute;
    display: flex;
    z-index: -1;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.auth-background div {
    position: absolute;
    z-index: -1;
    width: 85vw;
    height: 90vh;
    border-radius: 80px;
    background-color: white;
}

#auth-back {
    position: absolute;
    background-color: none;
    top: 9vh;
    left: 7vh;
}

.login h1 {
    font-size: 4em;
    margin: 11vh 0
}

.login form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login input:not(:nth-of-type(3)) {
    margin: 2vh 0 2.75vh;
    width: 70vw;
    height: 7vh;
    border: 1px solid #d8d8d8;
    background-color: rgb(238, 238, 238);
    text-align: center;
}

#login-btn{
    width: 40vw;
    height: 6vh;
    margin: 6vh 0 10vh
}