.login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login h1 {
    font-size: 4em;
    margin: 5vh 0
}

.login form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login input:not(:nth-of-type(3)) {
    margin: 2vh;
    width: 70vw;
    height: 7vh;
    border: 1px solid #e6e6e6;
}

#login-btn{
    width: 40vw;
    height: 6vh;
    margin: 6vh 0 10vh
}